@charset "UTF-8";

.cuerpo {
    background-image: url('imagenes/fondoApp.webp');
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column; /* Ensures the nav is at the top */
    justify-content: flex-start; /* Aligns the nav at the top */
    align-items: center;
}

.navbar {
    width: 100%;
    flex: 0 0 auto; /* Prevents the nav from stretching */
    z-index: 1; /* Ensures the nav stays on top */
}

.contenedor {
    background-color: rgba(0, 0, 0, 0.5);
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.contenido {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    text-align: center;
    width: 100%;
    max-width: 1200px;
}

.lista {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


