<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
	version="6.0">

	<display-name>GestorWeb</display-name>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>ServletCrearCine</servlet-name>
		<servlet-class>Servlets.ServletCrearCine</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ServletCrearCine</servlet-name>
		<url-pattern>/ServletCrearCine</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ServletActualizarCines</servlet-name>
		<servlet-class>Servlets.ServletActualizarCines</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ServletActualizarCines</servlet-name>
		<url-pattern>/ServletActualizarCines</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ServletEliminarCine</servlet-name>
		<servlet-class>Servlets.ServletEliminarCine</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ServletEliminarCine</servlet-name>
		<url-pattern>/ServletEliminarCine</url-pattern>
	</servlet-mapping>
	

</web-app>
